torch==2.5.1+cu124
torchvision==0.20.1+cu124
pillow
imageio
imageio-ffmpeg
tqdm
easydict
opencv-python-headless
scipy
ninja
rembg
--extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/onnxruntime-cuda-12/pypi/simple/
onnxruntime-gpu>=1.18.1
trimesh
xatlas
pyvista
pymeshfix
igraph
transformers
git+https://github.com/EasternJournalist/utils3d.git@9a4eb15e4021b67b12c460c7057d642626897ec8
xformers
https://github.com/bdashore3/flash-attention/releases/download/v2.7.1.post1/flash_attn-2.7.1.post1+cu124torch2.5.1cxx11abiFALSE-cp310-cp310-win_amd64.whl
https://github.com/sdbds/TRELLIS-for-windows/releases/download/nvdiffrast-0.3.3/nvdiffrast-0.3.3-py3-none-any.whl
numba==0.60.0
numpy==1.26.3
spconv-cu120
gradio==4.44.1
gradio_litmodel3d==0.0.1
#-e extensions/vox2seq/